<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Konsole</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/css/layui.css" rel="stylesheet">
  <link href="/static/adminui/dist/css/admin.css" rel="stylesheet">
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md8">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">Schnellzugriffe</div>
              <div class="layui-card-body">

                <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs3">
                        <a lay-href="/admin/help">
                          <i class="layui-icon layui-icon-template-1"></i>
                          <cite>Erste Schritte</cite>
                        </a>
                      </li>

                      <li class="layui-col-xs3">
                        <a lay-href="/admin/user">
                          <i class="layui-icon layui-icon-user"></i>
                          <cite>Benutzer</cite>
                        </a>
                      </li>

                      <li class="layui-col-xs3">
                        <a lay-href="/admin/node">
                          <i class="layui-icon layui-icon-website"></i>
                          <cite>Knoten</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="/admin/route">
                          <i class="layui-icon layui-icon-senior"></i>
                          <cite>Routen</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="/admin/deploy">
                          <i class="layui-icon layui-icon-fonts-code"></i>
                          <cite>Befehle</cite>
                        </a>
                      </li>

                      <li class="layui-col-xs3">
                        <a lay-href="/admin/acl">
                          <i class="layui-icon layui-icon-auz"></i>
                          <cite>ACL</cite>
                        </a>
                      </li>

                      <li class="layui-col-xs3">
                        <a lay-href="/admin/preauthkey">
                          <i class="layui-icon layui-icon-key"></i>
                          <cite>Schlüssel</cite>
                        </a>
                      </li>


                      <li class="layui-col-xs3">
                        <a lay-href="/admin/set">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>Einstellungen</cite>
                        </a>
                      </li>

                    </ul>

                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">Statistiken</div>
              <div class="layui-card-body">

                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs6">
                        <a lay-href="/admin/node" class="layadmin-backlog-body" lay-title="Knoten-Zentrum">
                          <h3>Anzahl Knoten</h3>
                          <p><cite id="nodeNum">0</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a lay-href="/admin/route" class="layadmin-backlog-body" lay-title="Routen-Zentrum">
                          <h3>Anzahl Routen</h3>
                          <p><cite id="RoutesNum">0</cite></p>
                        </a>
                      </li>

                      <li class="layui-col-xs6">
                        <a class="layadmin-backlog-body" >
                          <h3>Kumuliert Upload</h3>
                          <p><cite id="sent">0</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a  class="layadmin-backlog-body" >
                          <h3>Kumuliert Download</h3>
                          <p><cite id="recv">0</cite></p>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-col-md12">

            <div class="layui-card">
              <div class="layui-card-header">Datenübersicht</div>
              <div class="layui-card-body">

                <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                  <div carousel-item id="LAY-index-dataview">
                    <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                  </div>
                </div>
              </div>
            </div>


            <div class="layui-card">
              <div class="layui-tab layui-tab-brief layadmin-latestData">
                <ul class="layui-tab-title">
                  <li class="layui-this">Nutzung</li>
           
                </ul>
                <div class="layui-tab-content">
                  <div class="layui-tab-item layui-show">
                    <table id="LAY-index-topCard"></table>
                  </div>
                 
                </div>
              </div>
            </div>


          </div>         
        </div>
      </div>


      
      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header">Kontoinformationen</div>
          <div class="layui-card-body layui-text layadmin-version">
            <table class="layui-table">
              <colgroup>
                <col width="100">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td>Registrierungszeit</td>
                  <td id="reg"></td>
                </tr>
                <tr>
                  <td>Verbleibende Zeit bis Ablauf</td>
                  <td id="expire">
                    
                  </td>
                </tr>
                <tr>
                  <td>Projektadresse</td>
                  <td>
                    https://github.com/arounyf/Headscale-Admin-Pro
                 </td>
                </tr>
                <tr>
                  <td>Ankündigungen</td>
                  <td>Willkommen bei Headscale-Admin-Pro</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>



        <div class="layui-card">
          <div class="layui-card-header">Ressourcenauslastung</div>
          <div class="layui-card-body layadmin-takerates">
            <div class="layui-progress" lay-showPercent="yes" lay-filter="cpu-filter-progress">
              <h3>CPU-Auslastung</h3>
              <div class="layui-progress-bar" lay-percent="0%" id="cpu"></div>
            </div>
            <div class="layui-progress" lay-showPercent="yes"  lay-filter="memory-filter-progress">
              <h3>Speicherauslastung</h3>
              <div class="layui-progress-bar" lay-percent="0%" id="memory"></div>
            </div>
          </div>

        </div>



        <div class="layui-card">
          <div class="layui-card-header">Produkt-News</div>
          <div class="layui-card-body">
            <div class="layui-carousel layadmin-carousel layadmin-news" data-autoplay="true" data-anim="fade" lay-filter="news">
              <div carousel-item>
                <div><a href="#" class="layui-bg-red">Schnellstart-Dokumentation für Xiaoyuan Networking</a></div>
                <div><a href="#" class="layui-bg-green">Xiaoyuan – Technik-Q&amp;A-Bereich</a></div>
                <div><a href="#" class="layui-bg-blue">Xiaoyuan Blog – offizielle Website</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <script src="/static/layui/layui.js?t=1"></script>
  <script>
  layui.config({
    base: '/static/' // Pfad, in dem sich die statischen Ressourcen befinden
  }).use(['index', 'console']);


  layui.use(function(){
    var layer = layui.layer;
    var util = layui.util;
    var $ = layui.$;
    var element = layui.element;

    $.ajax({
      url:'/api/user/init_data',
      type: 'get',
      dataType: 'json',
      success:function(res){

        $('#nodeNum').html(res.data.node_count)
        $('#RoutesNum').html(res.data.route_count)

        $('#reg').text(res.data.created_at.split('+')[0])
        
        {#$('#expire').text(res.data.expire)#}

        var countdown = util.countdown({
          date: res.data.expire, // Zielzeit
          now: new Date(), // aktuelle Zeit (hier lokal als Beispiel)
          ready: function(){ // Initialisierung
            clearTimeout(util.countdown.timer); // alten Timer löschen, um doppelte Ausführung zu vermeiden
          },
          clock: function(obj, inst){  // während des Countdowns
            var str = [obj.d,'Tage',obj.h,'Std.',obj.m,'Min.',obj.s,'Sek.'].join(' ');
            lay('#expire').html(str);
            util.countdown.timer = inst.timer;
          },
          done: function(obj, inst){ // Countdown fertig
            {#layer.msg('Dein Konto ist abgelaufen');#}
          }
        });

      }
    });


    setInterval(function(){

      $.ajax({
        url:'/api/system/info',
        type: 'get',
        dataType: 'json',
        success:function(res){

          if(res.cpu_usage > 50){
            $('#cpu').addClass('layui-bg-red');
          }else{
            $('#cpu').removeClass('layui-bg-red');
          }

          if(res.memory_usage_percent > 50){
            $('#memory').addClass('layui-bg-red');
          }else{
            $('#memory').removeClass('layui-bg-red');
          }

          element.progress('cpu-filter-progress', res.cpu_usage+'%');
          element.progress('memory-filter-progress', res.memory_usage_percent+'%');
          $('#sent').text((res.sent_speed/1024).toFixed(2)+'M');
          $('#recv').text((res.recv_speed/1024).toFixed(2)+'M');

        }
      });

    },2000)


  });

  </script>
</body>
</html>
