<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Umfassende Demo der layui-Table-Komponente</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/css/layui.css" rel="stylesheet">
  <link href="/static/adminui/dist/css/admin.css" rel="stylesheet">
</head>
<body>


  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">Pre-Shared-Key-Zentrum</div>
          <div class="layui-card-body">
            <table class="layui-hide" id="test-table-index" lay-filter="test-table-index"></table>

            <script type="text/html" id="toolbarDemo">
              <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add">Neu erstellen</button>
                <button class="layui-btn layui-btn-sm" lay-event="reload">Aktualisieren</button>
              </div>
            </script>
             


            <script type="text/html" id="barDemo">
              <!-- Der checked-Status hier dient nur zur Demonstration -->
               <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">Löschen</a>
            </script>
             

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/static/layui/layui.js"></script>
  <script>
  layui.config({
    base: '/static/' // Pfad, in dem sich die statischen Ressourcen befinden
  }).use(['index', 'table', 'dropdown','form'], function(){
    var table = layui.table
    ,form = layui.form
    ,$ = layui.$;
    var dropdown = layui.dropdown;
    
    // Render-Instanz erstellen
    table.render({
      elem: '#test-table-index'
      ,url: '/api/preauthkey/getPreAuthKey' // Hier: statisch simulierte Daten; in der Praxis durch echte API ersetzen
      ,toolbar: '#toolbarDemo'
      ,defaultToolbar: ['filter', 'exports', 'print', {
        title: 'Hilfe'
        ,layEvent: 'LAYTABLE_TIPS'
        ,icon: 'layui-icon-tips'
      }]
      ,height: 'full-100' // Maximale Höhe minus der Höhe anderer Container
      ,cellMinWidth: 80
      ,totalRow: true // Summenzeile aktivieren
      ,page: true
      ,cols: [[
            {field:'id', title:'ID', width:10, unresize: true, sort: true, totalRowText: 'Summe:'}
            {% if current_user.role == 'manager' %}
                ,{field:'name', title:'Benutzername',width:200, totalRow: '  {% raw %}{{= d.TOTAL_ROW.count   }}{% endraw %} 😊'}
            {% endif %}
            ,{field:'key', title:'Schlüssel',width:300
                {% if current_user.role == 'user' %}
                    ,totalRow: ' {% raw %}{{= d.TOTAL_ROW.count   }}{% endraw %} 😊'
                {% endif %}
            }
            ,{field:'create_time', title:'Erstellzeit',width:300}
            ,{field:'expiration', title: 'Ablaufzeit', width:300, sort: true}
            ,{fixed: 'right', title:'Aktion', width: 70, minWidth: 70, toolbar: '#barDemo'}
        ]]
      ,error: function(res, msg){
        console.log(res, msg)
      }
    });


    
    
    // Toolbar-Events
    table.on('toolbar(test-table-index)', function(obj){
      var $ = layui.$;
      var util = layui.util;
      var id = obj.config.id;
      var checkStatus = table.checkStatus(id);
      var othis = lay(this);
      switch(obj.event){
        case 'reload':
          table.reload('test-table-index',true);
        break;
        case 'add':
          layer.confirm('Möchten Sie es wirklich verwenden?', function(index){
            $.ajax({
              url:'/api/preauthkey/addKey',
              type: 'post',
              dataType: 'json',
              success:function(res){
                if(res.code == 0){
                  layer.msg('Erfolgreich erstellt', {icon: 6});
                  table.reload('test-table-index',true);
                }else{
                  layer.msg('Erstellung fehlgeschlagen', {icon: 7});
                }
              }
            });
          });
          
        break;

      
      };
    });
   
    // Zell-Tool-Event auslösen
    table.on('tool(test-table-index)', function(obj){ // Doppelklick: toolDouble
      var $ = layui.$;

      if(obj.event === 'del'){
        layer.confirm('Möchten Sie diese Zeile wirklich löschen?', function(index){

          layer.close(index);

          $.ajax({
            url:'/api/preauthkey/delKey',
            type: 'post',
            dataType: 'json',
            data: {keyId: obj.data.id},
            success:function(res){
              if(res.code == 0){
                layer.msg(res.msg, {icon: 6});
                obj.del();
              }else{
                layer.msg(res.msg, {icon: 7});

              }
              
            }
          });
          
        });
      }
    });

  });
  </script>
</body>
</html>
