<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Systemeinstellungen</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/static/adminui/dist/css/admin.css" media="all">
</head>

  <body class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md8">
        <div class="layui-card">
          <div class="layui-card-header">Systemeinstellungen</div>
          <div class="layui-card-body" pad15>
            
            <div class="layui-form" wid100 lay-filter="" >


              <div class="layui-form-item">
                  <label class="layui-form-label">apiKey</label>

                  <div class="layui-input-inline" style="width:395px">
                    <input type="password" name="apiKey" lay-verify="required" autocomplete="off" value="{{ apikey }}" class="layui-input" lay-affix="eye">
                  </div>
                  <div class="layui-form-mid" style="padding: 0!important;">
                    <button type="button" class="layui-btn layui-btn-primary" lay-on="get_apikey">Automatisch generieren</button>
                  </div>
                  <div class="layui-form-mid layui-word-aux">Der apiKey ist der Nachweis (Credential) zur Kommunikation mit headscale</div>

               </div>


              <div class="layui-form-item">
                <label class="layui-form-label">Server-URL</label>
                <div class="layui-input-inline" style="width:500px">
                  <input type="text" name="serverUrl" lay-verify="required" value="{{ server_url }}" class="layui-input">

                </div>
                <div class="layui-form-mid layui-word-aux">Die URL, über die headscale seinen Dienst extern bereitstellt</div>
              </div>


              <div class="layui-form-item">
                <label class="layui-form-label">Standardtage für neue Nutzer</label>
                <div class="layui-input-inline" style="width:300px">
                  <input type="text" name="defaultRegDays" lay-verify="required" value="{{ default_reg_days }}" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">Standard-Ablaufdauer (in Tagen) nach Registrierung; 0 bedeutet standardmäßig deaktiviert</div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label">Standard-Knotenlimit</label>
                <div class="layui-input-inline" style="width:300px">
                  <input type="text" name="defaultNodeCount" lay-verify="required" value="{{ default_node_count }}" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">Standardbegrenzung der Knotenanzahl für neu registrierte Nutzer</div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label">Öffentliche Registrierung</label>
                <div class="layui-input-inline" style="width:80px">
                  <input type="checkbox" name="openUserReg" lay-skin="switch" lay-text="Ein|Aus" title="Ein|Aus" lay-filter="open_user_reg_switch"
                     {{ open_user_reg }}     ><div class="layui-unselect layui-form-switch" lay-skin="switch" ><div>Aus</div><i></i></div>
                </div>
                <div class="layui-form-mid layui-word-aux">Ob neue Nutzer sich registrieren dürfen</div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label">Netzwerkkartenname</label>

{#                  <input type="text" name="serverNet" lay-verify="required"  value="{{ server_net }}" class="layui-input">#}
                    <div class="layui-input-inline" style="width:300px">
                      <select name="serverNet">
                        <option value=""></option>
                          {{ server_net|safe }}
                      </select>
                    </div>


                <div class="layui-form-mid layui-word-aux">Wird für die Verkehrs-/Traffic-Statistik verwendet</div>
              </div>

              

              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="set_config">Speichern</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="layui-col-md4">
            <div class="layui-card layui-form" lay-filter="component-form-element">
                <div class="layui-card-header">headscale Prozessverwaltung</div>
                    <div class="layui-card-body layui-row layui-col-space10">
                    <div class="layui-col-md12">
                        <input type="checkbox" name="zzz" lay-skin="switch" lay-text="Ein|Aus" title="Ein|Aus" lay-filter="switch_up" {{ headscale_status }}><div class="layui-unselect layui-form-switch" lay-skin="switch"><div>Aus</div><i></i></div>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </div>

    </div>
  </div>

  <script src="/static/layui/layui.js"></script>


<script>
layui.use(function(){
  var form = layui.form;
  var layer = layui.layer;
  var $ = layui.$;
  var util = layui.util;
  // Standard-Events
  util.on('lay-on', {
    // apiKey abrufen
    'get_apikey': function(othis){
       $.ajax({
          url:'/api/set/get_apikey',
          type: 'post',
          success:function(res){
            if(res.code == 0){
              layer.msg(res.msg, {icon: 6});
              $('input[name="apiKey"]').val(res.data);
            }else{
              layer.msg(res.msg, {icon: 7});
            }
          }
       });
    },

  });

  // Spezifisches Switch-Event
  form.on('switch(switch_up)', function(data){

    $.ajax({
      url:'/api/set/switch_headscale',
      type: 'post',
      data: {Switch:this.checked},
      dataType: 'json',
      success:function(res){
        if(res.code == 0){
          layer.msg(res.msg, {icon: 6});
        }else{
          layer.msg(res.msg, {icon: 7});
        }

      }
    });

  });


  // Submit-Event
  form.on('submit(set_config)', function(data){
    var field = data.field; // Formularfeldwerte abrufen

    // Problem lösen: Wenn „Öffentliche Registrierung“ ausgeschaltet ist, ist der Feldwert leer
    console.log(field.openUserReg);
    if (field.openUserReg == undefined){
      field.openUserReg = "off"
    }

    console.log(field.openUserReg);

    $.ajax({
      url:'/api/set/upset',
      type: 'post',
      data:field,
      dataType: 'json',
      success:function(res){
        if(res.code == 0){
          layer.msg(res.msg, {icon: 6});
        }else{
          layer.msg(res.msg, {icon: 7});
        }

      }
    });

    return false; // Standard-Form-Weiterleitung verhindern
  });

});
</script>

</body>
</html>
