{% raw %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Benutzerzentrum</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/css/layui.css" rel="stylesheet">
  <link href="/static/adminui/dist/css/admin.css" rel="stylesheet">
</head>
<body>


    <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">Benutzerzentrum</div>
          <div class="layui-card-body">
            <table class="layui-hide" id="test-table-index" lay-filter="test-table-index"></table>

            <script type="text/html" id="toolbarDemo">
              <div class="layui-btn-container">
                <!-- <button class="layui-btn layui-btn-sm" lay-event="addNode">Gerät hinzufügen</button> -->
                <button class="layui-btn layui-btn-sm" lay-event="reload">Aktualisieren</button>
                
                <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="multi-row">
                  Mehrzeilig
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="default-row">
                  Einzeilig
                </button>

              </div>
            </script>





             <script type="text/html" id="route-table-toolbar">
              <!-- Der checked-Status hier dient nur zur Demonstration -->
              <input type="checkbox" name="lock" title="Erlauben" lay-filter="route-table-toolbar"
               value="{{d.route}}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}"  {{ d.route == "1" ? 'checked' : '' }}>
            </script>

             <script type="text/html" id="enable-table-toolbar">
                <input type="checkbox" name="Aktivieren" lay-skin="switch" lay-text="Ja|Nein" lay-filter="enable-table-toolbar"
                       value="{{ d.enable }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" {{ d.enable == "1" ? 'checked' : '' }}>
            </script>

            <script type="text/html" id="more-table-toolbar">
                 <a class="layui-btn layui-btn-info layui-btn-xs" lay-event="detail">Ansehen</a>
                 <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">Löschen</a>
            </script>




            <script type="text/html" id="TPL-expire">
              {{#
                var util = layui.util;
                var result;
                var countdown = util.countdown({
                  date: d.expire,
                  now: new Date(),
                  ready: function(){
                    clearTimeout(util.countdown.timer);
                  },
                  clock: function(obj, inst){
                    if (obj.d <=30){
                      result = [obj.d,'Tage',obj.h,'Std.',obj.m,'Min.',obj.s,'Sek.'].join(' ');
                    }else{
                      result = d.expire
                    }
                    util.countdown.timer = inst.timer;
                  },
                  done: function(obj, inst){
                    result = "Abgelaufen";
                  }
                });
              }}
              {{= result }}
            </script>


          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/static/layui/layui.js"></script>
  <script>
  layui.config({
    base: '/static/' // Pfad, in dem sich die statischen Ressourcen befinden
  }).use(['index', 'table', 'dropdown'], function(){
    var table = layui.table;
    var form = layui.form;
    var dropdown = layui.dropdown;
    var laydate = layui.laydate;
    var util = layui.util;
    var $ = layui.$;


    
    // Render-Instanz erstellen
    table.render({
      elem: '#test-table-index'
      ,url: '/api/user/getUsers' // Hier: statisch simulierte Daten; in der Praxis durch echte API ersetzen
      ,toolbar: '#toolbarDemo'
      ,defaultToolbar: ['filter', 'exports', 'print', {
        title: 'Hilfe'
        ,layEvent: 'LAYTABLE_TIPS'
        ,icon: 'layui-icon-tips'
      }]
      ,height: 'full-100' // Maximale Höhe minus der Höhe anderer Container
      ,cellMinWidth: 80
      ,totalRow: true // Summenzeile aktivieren
      ,page: true
      ,cols: [[
        //{type: 'checkbox', fixed: 'left'}
        {field:'id', fixed: 'left', width:80, title: 'ID', sort: true, totalRowText: 'Summe:'}
        ,{field:'userName', width:150, title: 'Benutzername', sort: true, totalRow: '{{= d.TOTAL_ROW.count   }} 😊'}
        // ,{field:'createTime', title:'Registrierungszeit', width: 180,templet: function(d){
        //     var ago = util.timeAgo(d.createTime);
        //     return ago;
        //   }
        // }

        ,{field:'role', title:'Rolle', width: 120,templet: function(d){
            if (d.role == "manager"){
              return "Super-Administrator"
            }else{
              return "Normaler Benutzer"
            }
           
          }
        }
        ,{field:'expire', title:'Ablaufdatum', sort: true,width:200,edit: 'text',templet: '#TPL-expire'}
        ,{field:'node', title:'Knotenlimit', width: 100,edit: 'text'}
        ,{field: 'route', title:'Route', width: 100, minWidth: 100, toolbar: '#route-table-toolbar'}
        ,{field: 'enable', title:'Aktiviert', width: 100, minWidth: 100, toolbar: '#enable-table-toolbar'}
        ,{field: 'more', title:'Aktion', width: 120, minWidth: 140, toolbar: '#more-table-toolbar'}

      ]]
      ,error: function(res, msg){
        console.log(res, msg)
      }
    });




    // Event: Zellenbearbeitung
    table.on('edit(test-table-index)', function(obj){
      var value = obj.value // geänderter Wert
      ,data = obj.data // Zeilendaten
      ,field = obj.field; // Feldname

      console.log(field)


      if (field == "expire"){
        $.ajax({
        url:'/api/user/re_expire',
        type: 'post',
        dataType: 'json',
        data: {user_id: obj.data.id,new_expire: obj.value},
        success:function(res){
            if(res.code == 0){
              layer.msg(res.msg, {icon: 6});
              var field = 'name'
              var value = obj.value

              var update = {};
              update[field] = value;
              obj.update(update);
            }else{
              layer.msg(res.msg, {icon: 7});
            }
          }
        });
      }else if(field == "node"){
        $.ajax({
        url:'/api/user/re_node',
        type: 'post',
        dataType: 'json',
        data: {user_id: obj.data.id,new_node: obj.value},
        success:function(res){
            if(res.code == 0){
              layer.msg(res.msg, {icon: 6});
              var field = 'name'
              var value = obj.value

              var update = {};
              update[field] = value;
              obj.update(update);
            }else{
              layer.msg(res.msg, {icon: 7});
            }
          }
        });
      }
      
    });
    
    // Toolbar-Events
    table.on('toolbar(test-table-index)', function(obj){
      var $ = layui.$;
      var util = layui.util;
      var id = obj.config.id;
      var checkStatus = table.checkStatus(id);
      var othis = lay(this);
      switch(obj.event){
        
        case 'reload':
          var data = checkStatus.data;
          table.reload('test-table-index',true);
        break;


        case 'multi-row':
          table.reload('test-table-index', {
            // Zeilenstil setzen; hier beispielhaft größere Höhe für Mehrzeilenanzeige
            lineStyle: 'height: 95px;' 
          });
          layer.msg('Mehrzeilige Anzeige aktiviert');
        break;
        case 'default-row':
          table.reload('test-table-index', {
            lineStyle: null // Einzeilig wiederherstellen
          });
          layer.msg('Einzeilige Anzeige aktiviert');
        break;
        case 'LAYTABLE_TIPS':
          layer.alert('Table for layui-v'+ layui.v);
        break;
      };
    });



   
    // Event: Zellen-Tools
    table.on('tool(test-table-index)', function(obj){
      var $ = layui.$;
      var data = obj.data;

      if(obj.event === 'del'){
        layer.confirm('Möchten Sie diese Zeile wirklich löschen?', function(index){
          $.ajax({
            url:'/api/user/delUser',
            type: 'post',
            dataType: 'json',
            data: {user_id: obj.data.id},
            success:function(res){
              if (res.code == 2){
                layer.msg("Dieser Benutzer hat noch Knoten, die nicht gelöscht wurden", {icon: 7});
              }else{
                layer.msg('Erfolgreich gelöscht', {icon: 6});
                obj.del();
                layer.close(index);
              }
              
            }
          });
          
        });
      }else if(obj.event === 'detail'){
        console.log(data)
        layer.open({
          title: 'Benutzerinformationen',
          type: 1,
          area: ['600px','400px'],
          content: '<div style="padding: 20px;">'+
              'Mobilnummer: '+ data.cellphone+ '<br>'+
              'E-Mail-Adresse: '+ data.email+ '<br>'+
              'Registrierungszeit: '+ data.createTime+
            '</div>'
        });
      }
    });


    // Event: Route erlauben
    form.on('checkbox(route-table-toolbar)', function(obj){
    var json = JSON.parse(decodeURIComponent($(this).data('json')));
      json = table.clearCacheKey(json);
      $.ajax({
        url:'/api/user/route_enable',
        type: 'post',
        dataType: 'json',
        data: {user_id: json.id,enable: obj.elem.checked},
        success:function(res){
            console.log(res)
            if(res.code == 0){
              layer.msg(res.msg, {icon: 6});
            }else{
              layer.msg(res.msg, {icon: 6});
            }
        }
      });
    });
   
    // Event: Aktivierungs-Schalter
    form.on('switch(enable-table-toolbar)', function(obj){
      var $ = layui.$;
      var json = JSON.parse(decodeURIComponent($(this).data('json')));
      
      json = table.clearCacheKey(json);
      console.log(obj.elem.checked); 

      console.log("Benutzerstatus ändern");
      $.ajax({
        url:'/api/user/user_enable',
        type: 'post',
        dataType: 'json',
        data: {user_id: json.id,enable: obj.elem.checked},
        success:function(res){
            console.log(res)
            if(res.code == 0){
              layer.msg(res.msg, {icon: 6});
            }else{
              layer.msg(res.msg, {icon: 7});
            }
        }
      });
      
    });
   

  });
  </script>


</body>
</html>
{% endraw %}
