<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Xiaoyuan Standortübergreifendes Netzwerk - Private Netzwerke sicher und effizient erstellen</title>
  <!-- Bitte diese layui.css-Adresse nicht in der Produktionsumgebung des Projekts einbinden -->
  <link href="/static/layui/css/layui.css" rel="stylesheet">

</head>
<body>
<style>
  h1{
    color: #16baaa;
    text-align: center;
    margin-top: 100px;
  }
  #reg{
    width: 200px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .layui-nav{
    background: rgba(128, 128, 128, 0.8);
  }


  html, body {
    margin: 0;
    padding: 0;
  }
  .background {
    position:absolute;  
    display :block; 
    top : 0;   
    left: 0;
    z-index: -1;
  }
</style>
  
<canvas class="background"></canvas>

<ul class="layui-nav">
  <li class="layui-nav-item"><a href="">headscale-Admin-Pro</a></li>
  <li class="layui-nav-item"><a href="https://www.runyf.cn">Über</a></li>

  <!-- <li class="layui-nav-item"><a href="">Menü 3</a></li> -->
</ul>
<h1 id="title">Zentrale für standortübergreifende Vernetzung</h1>
<div id="reg">
    <button type="button" class="layui-btn layui-btn-lg reg">Registrieren</button>
    <button type="button" class="layui-btn layui-btn-lg login">Anmelden</button>
</div>

<div class="layui-bg" style="padding: 16px;margin-top: 100px">
  <div class="layui-row layui-col-space15">
  <div class="layui-col-md3"></div>
    <div class="layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">Übersicht</div>
        <div class="layui-card-body">
        headscale-Admin für standortübergreifende Vernetzung basiert auf dem Open-Source-Projekt headscale und ist ein modernes Tool zur Vernetzung über Standorte hinweg, das auf dem WireGuard-Protokoll aufbaut.
        </div>
      </div>
    </div>
    <div class="layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">Geeignet für</div>
        <div class="layui-card-body">
          Unterstützt Windows, Linux, Android, iOS und viele weitere Geräte.
        </div>
      </div>
    </div>
    <div class="layui-col-md3"></div>
  </div>
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md3"></div>
    <div class="layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">Geschwindigkeit</div>
        <div class="layui-card-body">
          In 90% der Fälle ist eine direkte P2P-Verbindung möglich; selbst wenn das nicht klappt, kann eine Relay-Übertragungsrate von bis zu 200 Mbit/s erreicht werden.
        </div>
      </div>
    </div>
    <div class="layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">Plan</div>
        <div class="layui-card-body">
          Geplant ist der Aufbau von Relay-Servern an vielen Standorten im ganzen Land.
        </div>
      </div>
    </div>
    <div class="layui-col-md3"></div>
  </div>
</div>
  

<!-- Bitte diese layui.js-Adresse nicht in der Produktionsumgebung des Projekts einbinden -->
<script src="static/particles/particles.min.js"></script>
<script src="static/layui/layui.js"></script>
<script>
  window.onload= function() {
    Particles.init({
      // Standardoptionen
      selector: '.background',
      maxParticles: 200,
      color: '#48F2E3',
      connectParticles: true,

      
    });
  };

  layui.use(function(){
    var form = layui.form;
    var layer = layui.layer;
    var $ = layui.$;
    
    $('.reg').click(function() {
      window.location.href = "reg"; 
    });

    $('.login').click(function() {
      window.location.href = "login"; 
    });

  });
  
</script>
</body>
</html>
